{% extends 'base_profile.html' %}
{% load static %}

{% block title %}<title>Additional Services</title> {% endblock %}

{% block style %}

.grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 10px;
  grid-gap: 15px;
  max-width: 100%;
  height: 100%;
}

.grid-container > div {
  background-color: transparent;
  text-align: center;

}

{% endblock %}


{% block body %}

<div class="ex1">
  <div class="ex2">
<h1>Additional Services:</h1>
<p>(Click/Hover over the image below for more information)</p>

<div class="grid-container">

  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://media.istockphoto.com/vectors/pest-control-insect-illustration-vector-id1201144363?k=6&m=1201144363&s=612x612&w=0&h=8v548WWmDJB17X6y8l1LIZBooM-s1JVqxQOX0MzFMGw=" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h2>Insect Pest Control</h2>
      <p>Our team is trained to use the best products to rid your interior and exterior home of over 70+ insects: including:
        roaches, fleas, ants, spiders, mosquitoes, silverfish, to name a few.</p>
      <p>We use products that does not stain and does not have an odor. It will control pest for up to 90 days and is safe
      for pets and kids. The application will begin killing insects in 1 hour and will be re-apply every 30 days for best results.</p>
    </div>
  </div>
</div>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://cdn.24.co.za/files/Cms/General/d/1361/05221892f1084e03970da617306b1db2.jpg" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h2>Insulation Installation, Repair, & Disposal</h2>
      <p>We have the skill and experience to insulate your attic properly, with the <i>Right Type of Insulation</i>,
        accord to the R-Value as mandated by Texas building code.</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://media.istockphoto.com/photos/man-installing-asphalt-roof-picture-id1025187342?k=6&m=1025187342&s=612x612&w=0&h=g36CEUlpnlC5fekJ2ts2kI0H0lEttcZg6EUfBCTzLI8=" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h2>Roofing Repair</h2>
      <p>We'll give you an honest assessment and not try to sell you something you don’t need. We can help you with
        your complete roof replacement or any repair on residential and commercial roofs. flat roof systems, asphalt
        roof and metal roof.</p>
    </div>
  </div>
</div>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://blog.herzing.ca/hs-fs/hubfs/Imported_Blog_Media/Aug5-1.jpg?width=848&height=565&name=Aug5-1.jpg" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h2>Construction</h2>
      <p>Installation & Repairs of Siding and Flooring.</p>
      <p>General Handyman: leaking plumbing, light fixture, Exterior Upgrades,
        Deck repairs, HVAC Maintenance, Flooring improvement; installation, and repairs, door repairs, tile replacement,
        and furniture assembly. </p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://media.angieslist.com/s3fs-public/styles/widescreen_large/public/drywall-repair1.jpg?itok=8zoSGdIA" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h2>Sheet Rock Repair & Painting</h2>
      <p>Our trained professions specializes in small plaster, sheetrock, and drywall repair jobs. Our experts fix any
        hole, any size, any place.</p>
      <p>Exterior & Interior Painting: Our team is trained to use the best paints for the job. We have the equipment, know-how, and expertise to do
        the job right the first time. When we arrive at your house or business, we will give you an overview of the
        process, and then you can sit back and enjoy your beautiful walls.</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://i.pinimg.com/originals/ca/bb/60/cabb60a0c74d9297945c6d66291155b0.jpg" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h2>Small Concrete Cement Jobs</h2>
      <p>Patios: Mixing up the materials or styling of your patio through textures, patterns, and finished can give wonderful results.</p>
      <p>Sidewalks: Concrete walkways and sidewalks can provide much needed curb appeal to homes and buildings and can
        be a point of artistic expression through the use of decorative concrete options and colors.</p>
    </div>
  </div>
</div>




  </div>
</div>
</div>
<br>
{% endblock %}