{% extends 'base_profile.html' %}
{% load static %}

{% block style %}
button {
    width: 35%;
    cursor: pointer;
}

{% endblock %}


{% block body %}

<div class="ex1">
    <div class="ex2">
    <h1>Scheduled Follow-Up Appointment</h1>
        <br>

    {% for followup in object_list %}
        <br>
        <h2>User: {{ followup.user.username }}</h2>
        <h2>Date: {{ followup.date }} @ {{ followup.time }}</h2>
        <h2>Comments: {{ followup.comment }}</h2>
        <button type="button"> <a href="{% url 'Profile:EditFollowUp' %}">Edit Appointment</a> </button>
        <button type="button"> <a href="{% url 'Profile:DeleteFollowUp' %}">Cancel Appointment</a> </button>
        <br>


        {% endfor %}





    </div>
</div>

{% endblock %}