{% extends 'base_profile.html' %}
{% load static %}

{% block style %}
button {
    width: 30%;
    cursor: pointer;
}

{% endblock %}


{% block body %}

<div class="ex1">
    <div class="ex2">
    <h1>Follow-Up Appointments:</h1>

    {% for followup in object_list %}
        {% if followup.status == "Open" %}
        <br>
        <h2>Status: {{ followup.status }}</h2>
        <h2>Date: {{ followup.date }} @ {{ followup.time }}</h2>
        <h2>Comments: {{ followup.comment }}</h2>
        <button type="button"> <a href="{% url 'Profile:EditFollowUp' followup.id %}">Edit Appointment</a> </button>
        <button type="button"> <a href="{% url 'Profile:DeleteFollowUp' followup.id %}">Cancel Appointment</a> </button>
        <br>
        {% endif %}
    {% endfor %}

    </div>
</div>

{% endblock %}