{% extends 'base2.html' %}
{% load static %}

{% block body %}

<div class="ex1">
    <div class="ex2">

<h1>Follow Up Appointment</h1>
<form method="POST">
        {% csrf_token %}
        <large style="text-align: center;">{{ c_form.as_p }}</large>
           {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: white">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
        <button type="submit">Submit</button>
    </form>


    </div>
</div>

{% endblock %}