{% extends 'base_dashboard.html' %}
{% load static %}

{% block chart %}
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Weekly Appointment Charts
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        Total Jobs by Month
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
{% endblock %}


{% block list %}

<div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Today's Appointment: {% now "M d, Y" %} // Total: {{ todays_appt_combine }}
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Appointment Date</th>
                                                <th>Appointment Time</th>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>City</th>
                                                <th>Zip Code</th>
                                                <th>Service</th>
                                                <th>Comments</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                        {% for consultation in consult_today %}

                                            <tr>
                                                <td>Consultation: {{ consultation.status }}</td>
                                                <td>{{ consultation.consult_date }}</td>
                                                <td>{{ consultation.consult_time }}</td>
                                                <td>{{ consultation.first_name }} {{ consultation.last_name }}</td>
                                                <td>{{ consultation.service_address }}</td>
                                                <td>{{ consultation.city }}</td>
                                                <td>{{ consultation.zip_code }}</td>
                                                <td>{{ consultation.service }}</td>
                                                <td>{{ consultation.comment }}</td>
                                                <td><button type="button" class="btn btn-success">
                                                    <a href="{% url 'Dashboard:ConsultationApptUpdate' consultation.id %}">Edit</a>
                                                </button></td>
                                            </tr>

                                        {% endfor %}
                                        {% for followup in followup_today %}
                                            <tr>
                                                <td>Follow Up: {{ followup.status }}</td>
                                                <td>{{ followup.date }}</td>
                                                <td>{{ followup.time }}</td>
                                                <td>{{ followup.user.profile.first_name }} {{ followup.user.profile.last_name }}</td>
                                                <td>{{ followup.user.profile.service_address }}</td>
                                                <td>{{ followup.user.profile.city }}</td>
                                                <td>{{ followup.user.profile.zip_code }}</td>
                                                <td>{{ followup.user.profile.services }}</td>
                                                <td>{{ followup.comment }}</td>
                                                <td><button type="button" class="btn btn-success">
                                                    <a href="{% url 'Dashboard:FollowUpEdit' followup.id %}">Edit</a>
                                                </button></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

{% endblock %}
