{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}<title>Delete Profile</title> {% endblock %}


{% block list %}

<h1>Deletion Confirmation: {{ user.username }}</h1>
<div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-user-times"></i>
                                {{ user.profile.first_name }} {{ user.profile.last_name }}
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

<tbody>
<form action="" method="post">{% csrf_token %} <br>
    <h2>Are you sure you want to <b><i>DELETE</i></b> Consultation:</h2>
    <br>
    <h2>Email: {{ user.profile.email }}</h2>
    <h2>Name: {{ user.profile.first_name }} {{ user.profile.last_name }}</h2>
    <h2>Address: {{ user.profile.service_address }}</h2>
    <h2>{{ user.profile.city }}, {{ user.profile.state }} {{ user.profile.zip_code }}</h2>
    <h2>Contact Number: {{ user.profile.phone_number }}</h2>
    <h2>Service: {{ user.profile.services }}</h2>
    <br>
    <p>This deletion will be <b><i>Permanent</i></b> and <b><i>Cannot Be Undone</i></b>.</p>
    <p>Click "Confirm" to Delete.</p>
    <input type="submit" value="Confirm" />
    <p></p>
    <button type="button" class="btn btn-success"> <a href="{% url 'Dashboard:ConsultList' %}">Go Back</a> </button>
</form>
                                        </table>

                                </div>
                            </div>
                        </div>
    </div>
</div>

{% endblock %}