{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}<title>Profile List</title> {% endblock %}

{% block list %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-user-alt"></i>
                                Customer List
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <i class="fas fa-user-plus"></i>
                                            <a href="{% url 'Dashboard:ProfileCreate' %}">    Create New User</a>
                                            <tr>
                                                <th>Username</th>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>City</th>
                                                <th>Zip Code</th>
                                                <th>Service</th>
                                                <th>Added Services</th>
                                                <th>Warranty Start</th>
                                                <th>Warranty End</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        {% for profile in object_list %}
                                            <tr>
                                                <td>{{ profile.user.username }}</td>
                                                <td>{{ profile.first_name }} {{ profile.last_name }}</td>
                                                <td>{{ profile.service_address }}</td>
                                                <td>{{ profile.city }}</td>
                                                <td>{{ profile.zip_code }}</td>
                                                <td>{{ profile.services }}</td>
                                                <td>{{ profile.additional_service }}</td>
                                                <td>{{ profile.warranty_start_date }}</td>
                                                <td>{{ profile.warranty_end_date }}</td>
                                                <td><button type="button" class="btn btn-success">
                                                    <a href="{% url 'Dashboard:ProfileEdit' profile.id %}">Edit</a>
                                                </button></td>
                                                <td><button type="button" class="btn btn-danger">
                                                    <a href="{% url 'Dashboard:ProfileDelete' profile.id %}">Delete</a>
                                                </button></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
{% endblock %}