.collapsible {
  background-color:transparent;
  color: #111857;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.5);
  color: #111857;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  grid-gap: 15px;
  max-width: 100%;
  height: 100%;
}

.flip-card {
  background-color: #e19528;
  width: 350px;
  max-width: 100%;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 0px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 0px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: auto;
}

button:hover {
  opacity: 0.8;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


.fa-facebook {
  background: #e19528;
  color: #111857;
}

.fa-instagram {
  background: #e19528;
  color: #111857;
}

<nav class="navbar navbar-expand-sm bg-light justify-content-left">
  <ul class="navbar-nav active" style="background-color: #e19528;">
    <li class="nav-item active">
      <li1><a href="#" class="fa fa-facebook" style="font-size:00px"></a></li1>
    </li>
    <li class="nav-item active">
      <li1><a href="#" class="fa fa-instagram" style="font-size:00px"></a></li1>
    </li>
  </ul>
</nav>
