{% extends 'base.html' %}
{% load static %}

{% block style %}
.center {
  margin: auto;
  width: 50%;
  padding: 20px;
}

{% endblock %}

{% block body %}

<div class="ex1">
    <div class="ex2">
<h1> View our Perfect Reviews On Thumbtack</h1>
<p>(Click on the Badge Below)</p>

<div class="center">
<a class="widget" href="https://www.thumbtack.com/tx/pasadena/exterminators/attic-restorations/service/370394515028705284" target="_blank">
    <img style="height: 256px; width: 256px;"
   src="https://cdn.thumbtackstatic.com/fe-assets-web/_assets/images/release/pages/widgets-page/images/2021-top-pro-badge.953b08f58e34e11b2533073317801195.png"/>
   <script src="https://www.thumbtack.com/profile/widgets/scripts/?service_pk=370394515028705284&widget_id=profile"></script> </a>

<div class="widget" id="tt-review-widget-star">
    <img src="https://cdn.thumbtackstatic.com/fe-assets-web/media/logos/thumbtack/wordmark.svg" alt="Thumbtack" class="tt-logo"/>
    <a target="_blank" href="https://www.thumbtack.com/tx/pasadena/exterminators/attic-restorations/service/370394515028705284">
    <div>Attic Restorations</div> </a> <div id="tt-dynamic">
    <img src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/review-widget/orange_star.svg">
    <img src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/review-widget/orange_star.svg">
    <img src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/review-widget/orange_star.svg">
    <img src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/review-widget/orange_star.svg">
    <img src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/review-widget/orange_star.svg">
    <span>39 reviews</span>
</div>
    <script src="https://www.thumbtack.com/profile/widgets/scripts/?service_pk=370394515028705284&widget_id=review&type=star"></script>
</div>
</div>
    </div>
</div>
<br>

{% endblock %}