{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="ex1">
  <div class="ex2">
<h1>Additional Services:</h1>
<p>(Hover over the image below for more information)</p>

<div class="grid-container">

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://blog.herzing.ca/hs-fs/hubfs/Imported_Blog_Media/Aug5-1.jpg?width=848&height=565&name=Aug5-1.jpg" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h1>Construction</h1>
      <p>Installation & Repairs of Siding and Flooring.</p>
      <p>General Handyman: leaking plumbing, light fixture, Exterior Upgrades,
        Deck repairs, HVAC Maintenance, Flooring improvement; installation, and repairs, door repairs, tile replacement,
        and furniture assembly. </p>
    </div>
  </div>
</div>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://media.istockphoto.com/photos/man-installing-asphalt-roof-picture-id1025187342?k=6&m=1025187342&s=612x612&w=0&h=g36CEUlpnlC5fekJ2ts2kI0H0lEttcZg6EUfBCTzLI8=" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h1>Roofing Repair</h1>
      <p>We'll give you an honest assessment and not try to sell you something you don’t need. We can help you with
        your complete roof replacement or any repair on residential and commercial roofs. flat roof systems, asphalt
        roof and metal roof.</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://cdn.24.co.za/files/Cms/General/d/1361/05221892f1084e03970da617306b1db2.jpg" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h1>Insulation Installation & Repair</h1>
      <p>We have the skill and experience to insulate your attic properly, with the <i>Right Type of Insulation</i>,
        accord to the R-Value as mandated by Texas building code.</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://media.angieslist.com/s3fs-public/styles/widescreen_large/public/drywall-repair1.jpg?itok=8zoSGdIA" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h1>Sheet Rock</h1>
      <p>Our trained professions specializes in small plaster, sheetrock, and drywall repair jobs. There’s no job too
        big or too small for us to handle. Our experts fix any hole, any size, any place.</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://i.pinimg.com/originals/ca/bb/60/cabb60a0c74d9297945c6d66291155b0.jpg" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h1>Small Concrete Cement Jobs</h1>
      <p>Patios: Mixing up the materials or styling of your patio through textures, patterns, and finished can give wonderful results.</p>
      <p>Sidewalks: Concrete walkways and sidewalks can provide much needed curb appeal to homes and buildings and can
        be a point of artistic expression through the use of decorative concrete options and colors.</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtjTwlbT0m7AB9C1CA6AQIrbfe4yN6xVjyKw&usqp=CAU" alt="" style="width:350px;height:350px;">
    </div>
    <div class="flip-card-back">
      <h1>Painting</h1>
      <p>Exterior & Interior of Homes & Businesses</p>
      <p>Our team is trained to use the best paints for the job. We have the equipment, know-how, and expertise to do
        the job right the first time. When we arrive at your house or business, we will give you an overview of the
        process, and then you can sit back and enjoy your beautiful walls.</p>
    </div>
  </div>
</div>

  </div>
</div>
<br>
{% endblock %}