{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="ex1">
    <div class="ex2">

        <h1>Thank you for submitting our Consultation Form. If you have any <b>Questions</b> or <b>Need to Change</b>
            the Consultation date, please email us at admin@atticrestorations.biz or call us at (346) 719-2823.</h1>
        <p>You'll be Redirect to our Frequency Asked Questions page.....</p>

    </div>
</div>

<script>
          setTimeout(function(){
           window.location.href ='https://atticrestorations.biz/FAQ';
        }, 5000);
      </script>
{% endblock %}